body {
  font-family: 'Roboto', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  height: 100vh;
}

.login-card {
  border-radius: 12px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 24px;
  color: #1a73e8; /* Azul vibrante para o título */
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 14px;
  color: #5f6368; /* Azul acinzentado para o subtítulo */
  margin-bottom: 20px;
}

.login-input {
  border-radius: 8px;
  border: 1px solid #cfd8dc; /* Azul claro para a borda dos inputs */
  transition: border-color 0.3s;
}

.login-input:focus {
  border-color: #1a73e8; /* Azul vibrante para o foco */
}

.login-button {
  background-color: #1a73e8; /* Azul vibrante para o botão */
  border: none;
  font-size: 16px;
  border-radius: 8px;
  color: #ffffff;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #155bb5; /* Azul mais escuro ao passar o mouse */
}

.create-account-button {
  border-radius: 8px;
  border: 1px solid #1a73e8; /* Borda azul para o botão Criar Conta */
  color: #1a73e8; /* Azul vibrante para o texto */
  transition: background-color 0.3s, color 0.3s;
}

.create-account-button:hover {
  background-color: #e3f2fd; /* Fundo azul claro ao passar o mouse */
  color: #155bb5; /* Azul mais escuro para o texto */
}

#root
{
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: bold;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.4290966386554622) 35%, rgba(0,212,255,0.06495098039215685) 100%);
}

#main .card:hover {
  background-image: linear-gradient(to right bottom, #051937, #002265, #002894, #0027c1, #1214eb);
  transform: scale(1.1);
  color: white;
}

.hover:hover {
  cursor: pointer;
}